*{
    margin: 0;
    padding: 0;
    direction: rtl;
}
.wrapper .menu{
    position: static !important;
}
.wrapper h1{
    background-color: #F3F3F3;
    height: 40px;
    padding-top: 10px !important;
    padding-right: 20px!important;
    transition: all 0.5s ease;
}
.wrapper h1:hover{
    text-shadow: 10px 10px 10px black ;
}
.dashboard{
    width: 100%;
    height: 400px;
    background-color:whitesmoke;
}
.dashboard .card:nth-child(1){
    width: 30%;
    height: 270px;
    float: right;
    position: relative;
    top: 50px;
    right: 20px;
    left: 50px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dashboard .card:nth-child(2){
    width: 30%;
    height: 270px;
    float: right;
    position: relative;
    top: 50px;
    right:50px;
    left: 50px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dashboard .card h1{
    text-align:  center;
    padding-top: 20px !important;
    font-size: 20px;
}
.dashboard .card .child:nth-child(2){
    width: 50%;
    height: 150px;
    float: right;
    position: relative;
    top: 20px;
    right: 10px;
    left: 10px;
    background-color: #222831;
}
.dashboard .card .child:nth-child(3){
    width: 50%;
    height: 150px;
    float: right;
    position: relative;
    top: 20px;
    left: 10px;
    background-color:#31363F;
}
.dashboard .card .child span{
    font-size: 100px;
    color:#EEEEEE;
    display: block;
    text-align: center;
    padding-top: 10px !important;
}
.dashboard .card a{
    color: #76ABAE;
    font-size: 20px;
    /*font-family: "B Nazanin";*/
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 10px !important;
}

