*{
    margin: 0 !important;
    padding: 0 !important;
    direction: rtl;
    font-family: 'vazir', serif;
}
body{
    font-family: 'vazir', serif !important;
}
@font-face {
    font-family: "vazir";
    src: url("../vazir-font-v29.1.0/Vazir-Black.woff2");
}
@font-face {
    font-family: "mery";
    src: url("../engFont/MeryQolbyDemoRegular.ttf");
}
.wrapper .upperPage{
    width: 100%;
    min-height: 674px;
    background: rgb(242,205,255);
    background: linear-gradient(0deg, rgba(242,205,255,1) 0%, rgba(215,225,240,1) 67%);
}
.wrapper .upperPage div h2{
    text-align: center;
    padding-top:60px !important;
    font-family: "mery", serif;
}
.wrapper .login{
    width: 350px;
    height: 400px;
    position: fixed;
    left: calc(50% - 175px);
    top: calc(50% - 200px);
    background: rgb(215,225,240);
    background: linear-gradient(0deg, rgba(215,225,240,1) 0%, rgba(242,205,255,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.wrapper .login h1{
    font-size: 30px;
    /*font-family: "B Nazanin";*/
    text-align: center;
    margin-top: 15px !important;
    color: #6d49b6;
}
.wrapper .login h1 span{
    position: relative;
    font-size: 20px;
    left: 5px;
    color: #6d49b6;
}
.wrapper .login .form form{
    width: 80%;
    height: auto;
    margin: 0 auto !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.wrapper .login .form form table{
    width: 100%;
    border-collapse: collapse;
}
.wrapper .login .form form table tr{
    width: 100%;
    height: 15px;
}
.wrapper .login .form form table tr td{
    text-align: center;
    font-size: 16px;
}
.wrapper .login .form form table tr td p{
    text-align: right;
    /*margin-bottom: 5px !important;*/
    color: #6d49b6;
}
.wrapper .login .form form table tr td input[type=text]{
    width: 90%;
    height: 30px;
    display: block;
    font-size: 14px;
    margin-bottom: 25px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #6d49b6;
}
.wrapper .login .form form table tr td input[type=password]{
    width: 90%;
    height: 30px;
    display: block;
    font-size: 14px;
    margin-bottom: 25px !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #6d49b6;
}
.wrapper .login .form form table tr td input[type=submit]{
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s ease;
    margin-top: 30px !important;
    background: rgb(205,174,238);
    background: radial-gradient(circle, rgba(205,174,238,1) 0%, rgb(154, 192, 236) 100%);
    border: none;
}
.wrapper .login .form form table tr td input[type=submit]:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper .login .form form table tr td div{
    background: rgb(205,174,238);
    background: radial-gradient(circle, rgba(205,174,238,1) 0%, rgb(154, 192, 236) 100%);
    width: 200px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    display: block;
    margin: auto !important;
    margin-top: 20px !important;
    transition: all 0.5s ease;
}
.wrapper .login .form form table tr td a{
    color: black;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    display: block;
    padding:5px ;
}
.wrapper .login .form form table tr td div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



