*{
    margin: 0 !important;
    padding: 0 !important;
    direction: rtl;
}
.wrapper{
    width: 100%;
    min-height: 100px;
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
.wrapper .menu{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    padding-right: 10px !important;
}
.wrapper .menu nav{
    width: 100%;
    height: inherit;
}
.wrapper .menu nav ul{
    width: 100%;
    height: inherit;
    list-style: none;
}
.wrapper .menu nav ul li{
    display: inline-block;
    width: 100px;
    height: inherit;
    margin-right: -3px !important;
}
.wrapper .menu nav ul li a{
    width : 100%;
    height: inherit;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}
.wrapper .menu nav ul li a:hover{
    background-color: #8990e5;
    color: #400473;
    font-weight: 600;
}
.wrapper .parallax{
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding-top: 50px !important;
    box-sizing: border-box;
    background: url("../image/employee.jpg") center center no-repeat fixed;
    background-size: cover;
}
.wrapper .parallax h1{
    font-size: 40px;
    /*font-family: "B Nazanin";*/
    font-weight: bold;
    margin-bottom: 20px !important;
    transition: all 0.5s ease;
}
.wrapper .parallax h1:hover{
    color: #040673;
    text-shadow: 10px 10px 10px black , -10px -10px 10px black;
}
.wrapper .parallax p{
    font-size: 25px;
    /*font-family: "B Nazanin";*/
    font-weight: bold;
    width: 80%;
    margin: 0 auto !important;
    line-height: 50px;
    transition: all 0.5s ease;
}
.wrapper .parallax p:hover{
    color: #040673;
}
.wrapper .news{
    width: 100%;
    height: 400px;
    padding-top: 50px !important;
    padding-bottom: 150px !important;
    background-color: whitesmoke;
}
.wrapper .news .item{
    width: 30%;
    height: 300px;
    display: inline-block;
    margin-right: 30px !important;
}
.wrapper .news .item img{
    width: 100%;
    height: 400px;
    margin: 0 0 20px 0 !important;
}
.wrapper .news .item p{
    font-size: 18px;
    padding-bottom: 15px !important;
    text-align: center;
    line-height: 20px;
}
.wrapper .news .item a{
    color: white;
    display: block;
    width: 100%;
    background-color: #1c5eec;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
.footer{
    width: 100%;
    text-align: center;
    font-size: 16px;
    background-color: #c0bfbf;
}
.footer p{
    font-size: 20px;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
}
.footer span{
    font-size: 25px;
    color: #1c5eec;
}