*{
    margin: 0;
    padding: 0;
}
table{
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
table thead tr{
    background-color: #c0bfbf;
    height: 50px;
}
table thead tr th{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    border-right: 2px outset whitesmoke;
}
table tbody tr:nth-child(even){
    background-color: whitesmoke;
    height: 60px;
    border: 1px solid gray;
}
table tbody tr:nth-child(odd){
    background-color: #b073d3;
    height: 60px;
    border: 1px solid gray;
}
table tbody tr td{
    color: black;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}